body {
  background-color: whitesmoke;
}
.form {
  display: flex;
  flex-direction: column;
}

.form-signup {
  width: 400px;
  /* border: 2px solid blue; */
}

.inputitem {
  margin-bottom: 10px;
}

.form-publish {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  background-color: white;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  /* padding: 0px 60px 60px 60px; */
  /* width: 400px; */
  /* margin-top: 30px; */
}

.headertab {
  color: white;
  font-weight: BOLD;
  cursor: pointer;
  border: none;
  outline: inherit;
  background: none;
  font-size: 15px;
}

.publishbuttonvalidate {
  margin-top: 20px;
  /* margin-left: 8px; */
  background-color: rgb(75, 132, 209);
  color: white;
  border: 2px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.inputfields input {
  height: 30px;
}

.inputfields {
  /* display: flex;
  flex-direction: column; */
  width: 400px;
  /* margin-left: 8px; */
  padding: 0px 60px;
  /* border: 2px solid blue; */
}

.inputfielditem {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  justify-content: center;
  margin-bottom: 15px;
}

input {
  background-color: whitesmoke;
  border-radius: 2px;
}

.divimage i {
  font-size: 50px;
  color: rgb(75, 132, 209);
}

.inputitem {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 7px;
  font-weight: bold;
}

.formheadstyle {
  border-bottom: 2px solid rgb(230, 114, 61);
  text-align: center;
  padding-bottom: 5px;
}

.form-login {
  width: 300px;
  margin: 0 auto;
}

.form-signup input,
textarea {
  /* margin-bottom: 30px; */
}
.form-publish textarea {
  height: 200px;
  border-radius: 2px;
  border: 1px solid grey;
}

textarea:focus {
  outline: 0;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;
  flex: 1;
}

.nav-list-connected {
  justify-content: space-between;
}

.nav-list-disconnected {
  justify-content: flex-end;
}

/* 
.nav-list > li {
  display: flex;
  justify-content: center;
} */

.container {
  width: 1124px;
  margin: 0 auto;
}

.container.block {
  background-color: white;
  justify-content: center;
  padding: 60px 150px;
  box-sizing: border-box;
  margin-top: 50px;
  box-shadow: 2px 2px 10px rgb(199, 199, 199);
}

.container.block {
  background-color: white;
  justify-content: center;
  padding: 60px 150px;
  box-sizing: border-box;
  margin-top: 50px;
  box-shadow: 2px 2px 10px rgb(199, 199, 199);
}

.container.block2 {
  background-color: white;
  justify-content: center;
  padding: 60px 300px;
  box-sizing: border-box;
  margin-top: 50px;
  box-shadow: 2px 2px 10px rgb(199, 199, 199);
}

.signupbutton {
  background-color: rgb(75, 132, 209);
  color: white;
  border: 2px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
}
.signoutbutton {
  background-color: whitesmoke;
  color: black;
  border: 2px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
}

.createaccount {
  background-color: white;
  color: rgb(75, 132, 209);
  border: 2px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid rgb(75, 132, 209);
}

.headerpublish {
  background-color: lightslategray;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}

.headerpublish h3 {
  color: white;
}

.form-signup input {
  height: 40px;
  border: 2px;
  font-size: 18px;
}

.divimage {
  width: 100px;
  /* border: 2px solid green; */
  text-align: center;
  /* border: 2px solid blue; */
}

.infoaccount {
  width: 480px;

  /* border: 2px solid red; */
}

.infoitem {
  width: 400px;
  display: flex;
  /* border: 2px solid blue; */
}

.infotext {
  /* border: 2px solid green; */
  flex: 1;
}

.infoaccount img {
  height: 40px;
  color: lightblue;
}

.infoitem {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
}

.infoaccount img {
  margin-right: 30px;
}

.headerstyle {
  display: flex;
  /* align-items: center; */
  height: 60px;
  background-color: rgb(230, 114, 61);
}

.headerelements {
  display: flex;
  align-items: center;
}

.headerbutton {
  color: white;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  /* background-color: whitesmoke; */
  /* border-left: 2px solid white; */
  /* padding-top: 60px;
  padding-bottom: 60px; */
}

.borderstyling1 {
  border-left: 2px solid white;
  height: 100%;
}

.borderstyling2 {
  border-right: 2px solid white;
  border-left: 2px solid white;

  height: 100%;
}

a:link {
  text-decoration: none;
  outline: none;
}

a:visited {
  color: inherit;
}

/* a:link:focus {
  outline: none;
} */

.headerstyle img {
  height: 30px;
}

.noaccount {
  text-align: center;
  font-weight: bold;
}

.form-publish input {
  border-style: none;
  background-color: white;
  border: 1px solid grey;
}

.iteminfo {
  color: rgb(75, 132, 209);
  font-weight: bold;
  margin-left: 20px;
}
.itemprice {
  color: rgb(230, 114, 61);
}

.item {
  display: flex;
  flex-direction: row;

  padding: 10px;
  cursor: pointer;
}

.itemunit {
  border-bottom: 2px solid lightslategrey;
}

.item:hover {
  background-color: rgb(242, 242, 242);
}

.itemtitle {
  margin-top: 0;
}

.itemunit:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.itemblock {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px solid lightslategray;
  background-color: white;
  padding: 0;
}
.item img {
  height: 200px;
}

.itemdetail img {
  height: 400px;
  width: 100%;
  /* object-fit: cover; */
}

.itemleft {
  width: 500px;
  /* border: 2px solid red; */
}

.maincontent {
  /* border: 2px solid red; */
  width: 500px;
  background-color: white;
  box-shadow: 2px 2px 10px rgb(199, 199, 199);
  /* border: 2px solid red; */
}

.description {
  font-weight: bold;
}

.detailprice {
  color: rgb(230, 114, 61);
  margin-bottom: 10;
  padding-bottom: 10px;
}

.detailtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.titleandprice {
  padding-left: 10px;
  /* border: 2px solid black; */
}

.blockoffer {
  /* border: 2px solid blue; */
  margin: 80px;
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: 0 auto;
  margin-top: 30px;
}

.profilebox {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  background-color: white;
  box-shadow: 2px 2px 10px rgb(199, 199, 199);
  /* padding-top: 30px;
  padding-bottom: 30px; */
  height: 180px;
  justify-content: space-around;
  /* border: 2px solid green; */
}

.phonebutton {
  background-color: rgb(230, 114, 61);
  color: white;
  border: 2px;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 2px solid black; */
}

.profilepic {
  font-size: 70px;
  /* margin-top: 30px;
  margin-bottom: 30px; */
  color: rgb(75, 132, 209);
  /* border: 2px solid red; */
}

.profilebox p {
  /* margin-bottom: 10px; */
  /* border: 2px solid yellow; */
}

.fa-phone {
  margin-right: 10px;
}

.picandname {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}
